@media all and (max-width: 1775px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .slide-text h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 25px;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .slide-text h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 25px;
  }
  #wrap #main #section3 .container .gap .wrap .content
> ul > li:nth-child(2) ul {
    padding: 50px;
  }
  #wrap #main #section3 .container .gap .wrap .content
> ul > li:nth-child(2) ul li {
    margin: 0 10px 25px 10px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap
ul {
    padding: 60px 74px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap
ul li p br {
    display: none;
  }
  #wrap #modal .container .gap {
    padding: 50px;
  }
}

@media all and (max-width: 1595px) {
  #wrap #main #section3 .container .gap .wrap .content
> ul > li:nth-child(2) ul {
    padding: 50px;
  }
  #wrap #main #section3 .container .gap .wrap .content
> ul > li:nth-child(2) ul li {
    width: 100%;
    margin: 15px;
  }
  #wrap #main #section3 .container .gap .wrap .content
> ul > li:nth-child(2) ul li p br {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li h2 {
    font-size: 32px;
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li h2 br {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li h3 {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li h3 br {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li p {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li p br {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul li a {
    display: block;
    margin: 15px auto;
    text-align: center;
  }
}

@media all and (max-width: 1450px) {
  #wrap #quickBox {
    display: none;
  }
}

@media all and (max-width: 1317px) {
  #wrap #main #section3 .container .gap .wrap .content > ul > li:nth-child(2) ul .title-box h2 {
    font-size: 35px;
  }
}

@media all and (max-width: 1200px) {
  #wrap #main #section3 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li:nth-child(1) {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li:nth-child(1) .img-box {
    width: 100%;
    height: 524px;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li:nth-child(2) {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .wrap .content
> ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .content
> ul > li {
    width: 50%;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap
ul {
    padding: 30px 44px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap
ul li p br {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .left {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .left .img-box {
    width: 100%;
    height: 524px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li .right ul {
    padding: 0 15px 0 20px;
  }
  #wrap #main #section9 .container .gap .wrap .slide-container .slide-view .slide-wrap .slide > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section9 .container .gap .wrap .slide-container .slide-view .slide-wrap .slide > ul > li {
    width: 50%;
  }
  #wrap #main #section9 .container .gap .wrap .slide-container .slide-view .slide-wrap .slide > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
}

@media all and (max-width: 1060px) {
  #wrap #header .container .gap .wrap .mobile-btn-box {
    display: block;
  }
  #wrap #header .container .gap .wrap #aside span.menu-bar-box {
    display: none;
  }
  #wrap #header .container .gap .wrap #nav {
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: black;
    height: auto;
    overflow-y: auto;
  }
  #wrap #header .container .gap .wrap #nav > ul {
    width: 100%;
    height: auto;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li {
    height: auto;
    border-bottom: 1px solid #444;
    margin: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li:last-child {
    border: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li > a.main-btn {
    color: #fff;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul {
    width: 100%;
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li {
    width: 100%;
    border-right: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dt, #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dd {
    border-bottom: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span {
    color: #fff;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span::after {
    display: none;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub {
    border-top: 1px solid #333;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: #232323;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li {
    border-bottom: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li a span {
    color: #9d9d9d;
  }
  #wrap #main #section2 .container .gap .wrap .content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li .col-gap {
    margin: 20px;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom p br {
    display: none;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .content
> ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .content
> ul > li {
    width: 50%;
  }
  #wrap #main #section5 .container .gap .wrap .content
> ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li .col-gap .col-wrap .bottom ul li a h3 {
    font-size: 16px;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li .col-gap .col-wrap .bottom ul li a h3 br {
    display: none;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li .col-gap .col-wrap .bottom ul li p {
    font-size: 14px;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li .col-gap .col-wrap .bottom ul li p br {
    display: none;
  }
  #wrap #footer .top .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
  }
  #wrap #footer .top .container .gap .wrap .content > ul > li {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #363636;
    margin: 15px 0;
  }
  #wrap #footer .top .container .gap .wrap .content > ul > li:last-child {
    border: 0;
  }
  #wrap #footer .top .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #footer .top .container .gap .wrap .content > ul > li .col-gap .col-wrap ul li:last-child {
    margin-bottom: 15px;
  }
  #wrap #footer .bottom .container .gap .wrap .content {
    text-align: center;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul > li .col-gap .col-wrap p {
    text-align: center;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul > li .col-gap .col-wrap span {
    display: block;
    text-align: center;
  }
  #wrap #footer .bottom .container .gap .wrap .content > ul > li .col-gap .col-wrap span a {
    display: inline-block;
    text-align: center;
  }
  #wrap #youtubeModal .container .gap .wrap .content iframe {
    width: 700px;
    height: 393px;
    border: 0;
  }
}

@media all and (max-width: 854px) {
  #wrap #main #section9 .container .gap .wrap .slide-container .slide-view .slide-wrap .slide > ul > li {
    width: 100%;
  }
  #wrap #main #section10 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #youtubeModal .container .gap .wrap .content iframe {
    width: 600px;
    height: 337px;
    border: 0;
  }
}

@media all and (max-width: 630px) {
  #wrap #main #section7 .container .gap .wrap .content label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
  #wrap #main #section7 .container .gap .wrap .content input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 auto 5px auto;
  }
  #wrap #youtubeModal .container .gap .wrap .content iframe {
    width: 500px;
    height: 281px;
    border: 0;
  }
}

@media all and (max-width: 560px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .slide-text h3 {
    font-size: 2.08092vw;
    line-height: 14px;
    margin: 20px 0 20px 30px;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .slide-text h2 {
    font-size: 6.62112vw;
    line-height: 40px;
    margin: 0 0 0 30px;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .button-box {
    margin: 0 0 0 20px;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption .button-box .left-btn {
    padding: 5px 29px;
    line-height: 24px;
    border-radius: 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  #wrap #main #section2 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section4 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section5 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #youtubeModal .container .gap .wrap .content iframe {
    width: 300px;
    height: 168px;
    border: 0;
  }
}

@media all and (max-width: 477px) {
  #wrap #main #section7 .container .gap .wrap .title p br {
    display: none;
  }
  #wrap #main #section7 .container .gap .wrap .content .cube {
    width: 200px;
    height: 200px;
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.front {
    -webkit-transform: rotateY(0deg) translateZ(100px);
            transform: rotateY(0deg) translateZ(100px);
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.back {
    -webkit-transform: rotateY(180deg) translateZ(100px);
            transform: rotateY(180deg) translateZ(100px);
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.left {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
            transform: rotateY(-90deg) translateZ(100px);
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.right {
    -webkit-transform: rotateY(90deg) translateZ(100px);
            transform: rotateY(90deg) translateZ(100px);
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.top {
    -webkit-transform: rotateX(90deg) translateZ(100px);
            transform: rotateX(90deg) translateZ(100px);
  }
  #wrap #main #section7 .container .gap .wrap .content .cube .face.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
            transform: rotateX(-90deg) translateZ(100px);
  }
}
